/*Primary CSS*/
@import 'reset.css';

body {
    font-family: chivo;
    background: #f2efef;
}

#menu {
 position: fixed;
 width: 100%;
 height: 100%;
 left: 0;
 top: 0;
 z-index: 9997;
 background: #fff;
 display:none;
 -webkit-filter: blur(1px);
  filter: blur(10px);
 opacity:0.;
}

#tools {
  position: fixed;
  margin: auto;
  bottom: 0;
  width: 100%;
  height: 150px;
  display:none;
  z-index: 9996;
  background:#ccc;
}

#specials {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #a5a5a5;
  display:none;
  z-index: 9996;
}

#social {
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  width: 500px;
  height: 500px;
  background: #00ff0b;
  display:none;
  z-index: 9996;
}

#content{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 100px;
}

#content h1{
    text-align:center;
}

.start {
    color: #fff;
    padding: 20px 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00ea3e;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.start a {
    color: #fff;
    padding: 20px 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #00ea3e;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.start:hover {
    background-color: #5cbf2a;
}

.start:active {
    position: relative;
    top: 1px;
}

/*Settings Button*/
.settings {
    background-color: #c1c3c1;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.settings:hover {
    background-color: #9a9a9a;
}

.settings:active {
    position: relative;
    top: 1px;
}

.hotcorner1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: Transparent;
    z-index: 9998;
}

.hotcorner2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: Transparent;
    z-index: 9998;
}

.hotcorner3 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: Transparent;
    z-index: 9998;
}

.hotcorner4 {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: Transparent;
    z-index: 9998;
}

/*Tablet (Landscape)*/
@media (max-width: 1024px) {
}

/*Tablet (Portrait)*/
@media (max-width: 800px) {
}

/*Smartphone (Portriat)*/
@media (max-width: 480px) {
}
/*Smartphone (Landscape)*/
@media (max-width: 320px) {

}


